.content-explorer-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-explorer-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-explorer-main section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
